:root {
  --size: $size; 
}

$max-size: calc(100vmin - 150px);

.square-grid {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  height: $max-size;
  width: $max-size;

}

.small-square {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #fff;
  width: $max-size / --size;
  height: $max-size / --size;
  transition: background-color 0.3s;
}

.small-square.active,
.small-square:hover {
  background-color: #3498db;
}
