$max-size: 80vmin;

.App {
  padding: 40px;
  display: flex;
  flex-direction: row;
}

.board {
  max-width: $max-size;

  &-header {
    display: flex;
    gap: 30px;
    width: $max-size;

    margin-bottom: 15px;
  }
}

.board-start-button {
  flex: 1;
  font-weight: bold;

  cursor: pointer;
  background-color: blue;
  color: #fff;

  border-radius: 5px;
  border: none;

  padding: 10px 15px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.15);
    box-shadow: 0 2px 4px rgba(0 0 0 / 30%);
  }
}
