$max-size: calc(100vmin - 150px);

.App {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.board {
  max-width: $max-size;

  &-header {
    display: flex;
    gap: 15px;
    width: $max-size;
    margin-bottom: 15px;
  }
}
